<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <!-- Enlaces de navegación -->
    <a class="mx-5 my-5 btn btn-success" href="/realtimeproducts">Productos en Tiempo Real</a>
    <a class="mx-5 my-5 btn btn-success" href="/carrito">Carrito</a>

    <!-- Contenedor de productos -->
    <div class="container col-12 border border-primary">
        <h1 class="text-center mb-4 fs-1 font-monospace">Productos</h1>
        <div class="row row-cols-md-4 row-cols-md-5">
            {{#each listOfProducts}}
            <div class="col mb-4">
                <div class="card h-100 bg-light">
                    <div class="card-header bg-primary text-white">
                        <i class="bi bi-info-circle">ID : </i>{{this.id}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-black fs-4 font-monospace">{{this.title}}</h5>
                        <ul class="list-unstyled">
                            <hr>
                            <li><i class="bi bi-file-text"> Descripción : {{this.description}}</i></li>
                            <hr>
                            <li><i>Precio : $ {{this.price}}</i></li>
                            <hr>
                            <li><i class="bi bi-tag"></i> Código: {{this.code}}</li>
                            <hr>
                            <li><i class="bi bi-grid"></i> Categoría : {{this.category}}</li>
                            <hr>
                            <li><i class="bi bi-check-circle"> Estado : {{this.status}}</i></li>
                            <hr>
                            <li><i class="bi bi-box"></i> Stock : {{this.stock}}</li>
                            <hr>
                            <li>
                                <img src="{{this.thumbnail}}" alt="{{this.title}}" class="img-fluid mt-2">
                            </li>
                        </ul>
                        <!-- Botón para agregar producto al carrito -->
                        <button onclick="comprar('{{this._id}}')">Agregar a Carrito</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <br>
    <!-- Navegación de páginas -->
    <div class="d-flex justify-content-center">
        <a class="mx-5 my-5 btn btn-success" href="/?pagina=1">Pág. 1</a>

        {{#if hasPrevPage}}
        <a class="mx-5 my-5 btn btn-success" href="/?pagina={{prevPage}}">Ant.</a>
        {{/if}}

        {{#if hasNextPage}}
        <a class="mx-5 my-5 btn btn-success" href="/?pagina={{nextPage}}">Sig.</a>
        {{/if}}

        <a class="mx-5 my-5 btn btn-success" href="/?pagina={{totalPages}}">Últ. Pág.</a>
    </div>
    <br>

    <!-- Script para la función de agregar al carrito -->
    <script>
        function comprar(productId) {
            // Aquí puedes implementar la lógica para agregar el producto al carrito
            console.log('ID del Producto:', productId);
        }
    </script>
</body>
</html>
